* {
    background-color: rgb(221, 153, 153);
}

.navbar {
    padding-left: 190;
  } 
   
   .navbar a {
     float: left;
     text-align: justify;
     list-style-type: none;
     padding: 20px 50px;
     display: flex; 
     justify-content: space-around;
     text-decoration: none; 
     color: rgb(128, 1, 1);
     font-size: 30;
     font-family: ‘Lato’, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
   }
   
   .navbar a:hover, a:focus  {
       text-decoration: underline;
       text-underline-offset: 10px;
       text-decoration-thickness: 10px;
       color: rgb(53, 1, 1);
   }

#logo {
    text-align: center;
}
   
   
   