* {
    background-color: rgb(221, 153, 153);
}

.navbar {
    display: flex;
    justify-content: center;

}
   
   .navbar a {
     padding: 20px 50px;
     text-decoration: none; 
     list-style-type: none;
     color: rgb(128, 1, 1);
     font-size: 30;
     font-family: ‘Lato’, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
   }
   
   .navbar a:hover, a:focus  {
       text-decoration: underline;
       color: rgb(53, 1, 1);
   }

#logo {
    text-align: center;
}

#roddy {
    background-color: purple;
}
   
   
   